footer {
  background-color: #030303;
  color: #fff;

  .footer-title {
    font-weight: 600;
  }

  a {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 100;
    text-decoration: none;
    margin: 0 1rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: #fff;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  vertical-align: middle;
  background: url('/content/images/Padel_TM_App_Logo_BW_Neg.svg') no-repeat center center;
  background-size: contain;
}
