<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-player-heading" data-cy="PlayerCreateUpdateHeading" jhiTranslate="padelTmApp.player.home.createOrEditLabel">
        Crear o editar Player
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="padelTmApp.player.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_firstName" jhiTranslate="padelTmApp.player.firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          @if (editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)) {
            <div>
              @if (editForm.get('firstName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastName" jhiTranslate="padelTmApp.player.lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          @if (editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)) {
            <div>
              @if (editForm.get('lastName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_phoneNumber" jhiTranslate="padelTmApp.player.phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_age" jhiTranslate="padelTmApp.player.age">Age</label>
          <input type="number" class="form-control" name="age" id="field_age" data-cy="age" formControlName="age" />
          @if (editForm.get('age')!.invalid && (editForm.get('age')!.dirty || editForm.get('age')!.touched)) {
            <div>
              @if (editForm.get('age')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '12' }"
                  >Este campo debe ser mayor que 12.</small
                >
              }
              @if (editForm.get('age')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '80' }"
                  >Este campo no puede ser mayor que 80.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('age')?.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_avatar" jhiTranslate="padelTmApp.player.avatar">Avatar</label>
          <div>
            @if (editForm.get('avatar')!.value) {
              <img
                [src]="'data:' + editForm.get('avatarContentType')!.value + ';base64,' + editForm.get('avatar')!.value"
                style="max-height: 100px"
                alt="player"
              />
            }
            @if (editForm.get('avatar')!.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start"
                  >{{ editForm.get('avatarContentType')!.value }}, {{ byteSize(editForm.get('avatar')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="clearInputImage('avatar', 'avatarContentType', 'file_avatar')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_avatar"
              data-cy="avatar"
              (change)="setFileData($event, 'avatar', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="avatar" id="field_avatar" data-cy="avatar" formControlName="avatar" />
          <input
            type="hidden"
            class="form-control"
            name="avatarContentType"
            id="field_avatarContentType"
            formControlName="avatarContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="padelTmApp.player.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_level" jhiTranslate="padelTmApp.player.level">Level</label>
          <select class="form-control" id="field_level" data-cy="level" name="level" formControlName="level" [compareWith]="compareLevel">
            <option [ngValue]="null"></option>
            @for (levelOption of levelsSharedCollection; track $index) {
              <option [ngValue]="levelOption">{{ levelOption.levelName }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_categories" jhiTranslate="padelTmApp.player.categories">Categories</label>
          <select
            class="form-control"
            id="field_categories"
            data-cy="categories"
            multiple
            name="categories"
            formControlName="categories"
            [compareWith]="compareCategory"
          >
            @for (categoryOption of categoriesSharedCollection; track $index) {
              <option [ngValue]="categoryOption">{{ categoryOption.categoryName }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_teams" jhiTranslate="padelTmApp.player.teams">Teams</label>
          <select
            class="form-control"
            id="field_teams"
            data-cy="teams"
            multiple
            name="teams"
            formControlName="teams"
            [compareWith]="compareTeam"
          >
            @for (teamOption of teamsSharedCollection; track $index) {
              <option [ngValue]="teamOption">{{ teamOption.teamName }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
