<div class="container-fluid">
  <h2 id="page-heading" data-cy="TournamentHeading">
    <span jhiTranslate="padelTmApp.tournament.home.title">Tournaments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="padelTmApp.tournament.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tournament"
        [routerLink]="['/tournament/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="padelTmApp.tournament.home.createLabel">Crear nuevo Tournament</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (tournaments?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="padelTmApp.tournament.home.notFound">Ningún Tournaments encontrado</span>
    </div>
  }

  @if (tournaments && tournaments.length > 0) {
    <div class="row">
      @for (tournament of tournaments; track trackId) {
        <div class="col">
          <div class="card">
            <div class="row g-0">
              <div class="col-md-3">
                @if (tournament.poster) {
                  <img class="img-fluid" [src]="'data:' + tournament.posterContentType + ';base64,' + tournament.poster" alt="tournament" />
                }
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h4 class="card-title position-relative">
                    {{ tournament.tournamentName }}
                    <span *ngIf="tournament.active" class="badge text-bg-success rounded-pill"> Active </span>
                  </h4>
                  <div class="card-text">
                    <p>{{ tournament.description }}</p>
                    <br />
                    <div class="row">
                      <div class="col-4">
                        <h6>Start Date</h6>
                        <p>{{ tournament.startDate | formatMediumDatetime }}</p>
                      </div>
                      <div class="col-4">
                        <h6>End Date</h6>
                        <p>{{ tournament.endDate | formatMediumDatetime }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <h6>Location</h6>
                        <p>{{ tournament.location?.city }}</p>
                      </div>
                      <div class="col-4">
                        <h6>Court Type</h6>
                        @for (courtType of tournament.courtTypes; track trackId) {
                          <p>{{ courtType?.courtTypeName }}</p>
                        }
                      </div>
                    </div>
                    <div class="row">
                      <div class="col 4">
                        <h6>Categories</h6>
                        @for (categories of tournament.categories; track trackId) {
                          <ul>
                            <li>{{ categories?.categoryName }}</li>
                          </ul>
                        }
                      </div>
                      <div class="col-4">
                        <h6>Levels</h6>
                        @for (level of tournament.levels; track trackId) {
                          <ul>
                            <li>{{ level?.levelName }}</li>
                          </ul>
                        }
                      </div>
                    </div>
                    <div class="row">
                      <h6>Sponsors</h6>
                      @for (sponsor of tournament.sponsors; track trackId) {
                        <ul>
                          <li>{{ sponsor?.sponsorName }}</li>
                        </ul>
                      }
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="btn-group">
                    <a [routerLink]="['/tournament', tournament.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                      <fa-icon icon="eye"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                    </a>

                    <a [routerLink]="['/tournament', tournament.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                      <fa-icon icon="pencil-alt"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                    </a>

                    <button type="submit" (click)="delete(tournament)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                      <fa-icon icon="times"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
