<div>
  <h2 id="page-heading" data-cy="LevelHeading">
    <span jhiTranslate="padelTmApp.level.home.title">Levels</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="padelTmApp.level.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-level"
        [routerLink]="['/level/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="padelTmApp.level.home.createLabel">Crear nuevo Level</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (levels?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="padelTmApp.level.home.notFound">Ningún Levels encontrado</span>
    </div>
  }

  @if (levels && levels.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="levelName">
              <div class="d-flex">
                <span jhiTranslate="padelTmApp.level.levelName">Level Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="padelTmApp.level.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tournaments.tournamentName">
              <div class="d-flex">
                <span jhiTranslate="padelTmApp.level.tournaments">Tournaments</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (level of levels; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/level', level.id, 'view']">{{ level.id }}</a>
              </td>
              <td>{{ level.levelName }}</td>
              <td>{{ level.description }}</td>
              <td>
                @for (tournaments of level.tournaments; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/tournament', tournaments.id, 'view']">{{
                      tournaments.tournamentName
                    }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/level', level.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/level', level.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(level)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
