<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-category-heading" data-cy="CategoryCreateUpdateHeading" jhiTranslate="padelTmApp.category.home.createOrEditLabel">
        Crear o editar Category
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="padelTmApp.category.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_categoryName" jhiTranslate="padelTmApp.category.categoryName">Category Name</label>
          <select class="form-control" name="categoryName" formControlName="categoryName" id="field_categoryName" data-cy="categoryName">
            <option [ngValue]="null">{{ 'padelTmApp.CategoryEnum.null' | translate }}</option>
            @for (categoryEnum of categoryEnumValues; track $index) {
              <option [value]="categoryEnum">{{ 'padelTmApp.CategoryEnum.' + categoryEnum | translate }}</option>
            }
          </select>
          @if (editForm.get('categoryName')!.invalid && (editForm.get('categoryName')!.dirty || editForm.get('categoryName')!.touched)) {
            <div>
              @if (editForm.get('categoryName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="padelTmApp.category.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label for="field_tournaments" jhiTranslate="padelTmApp.category.tournaments">Tournaments</label>
          <select
            class="form-control"
            id="field_tournaments"
            data-cy="tournaments"
            multiple
            name="tournaments"
            formControlName="tournaments"
            [compareWith]="compareTournament"
          >
            @for (tournamentOption of tournamentsSharedCollection; track $index) {
              <option [ngValue]="tournamentOption">{{ tournamentOption.tournamentName }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_players" jhiTranslate="padelTmApp.category.players">Players</label>
          <select
            class="form-control"
            id="field_players"
            data-cy="players"
            multiple
            name="players"
            formControlName="players"
            [compareWith]="comparePlayer"
          >
            @for (playerOption of playersSharedCollection; track $index) {
              <option [ngValue]="playerOption">{{ playerOption.firstName }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
