@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

/* ==========================================================================
Header
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-light-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.5rem;
}

.container-fluid {
  background-color: rgba(255, 255, 255, 0.8);
  height: 4rem;
  border-radius: 2.2rem;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  background: url('/content/images/PadelTMApp_logo.svg') no-repeat center center;
  background-size: contain;
}
