<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (team()) {
      <div>
        <h2 data-cy="teamDetailsHeading"><span jhiTranslate="padelTmApp.team.detail.title">Team</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ team()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="padelTmApp.team.teamName">Team Name</span></dt>
          <dd>
            <span>{{ team()!.teamName }}</span>
          </dd>
          <dt><span jhiTranslate="padelTmApp.team.logo">Logo</span></dt>
          <dd>
            @if (team()!.logo) {
              <div>
                <a (click)="openFile(team()!.logo ?? '', team()!.logoContentType)">
                  <img [src]="'data:' + team()!.logoContentType + ';base64,' + team()!.logo" style="max-width: 100%" alt="team" />
                </a>
                {{ team()!.logoContentType }}, {{ byteSize(team()!.logo ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="padelTmApp.team.level">Level</span></dt>
          <dd>
            @if (team()!.level) {
              <div>
                <a [routerLink]="['/level', team()!.level?.id, 'view']">{{ team()!.level?.levelName }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="padelTmApp.team.category">Category</span></dt>
          <dd>
            @if (team()!.category) {
              <div>
                <a [routerLink]="['/category', team()!.category?.id, 'view']">{{ team()!.category?.categoryName }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="padelTmApp.team.players">Players</span></dt>
          <dd>
            @for (players of team()!.players; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/player', players.id, 'view']">{{ players?.firstName }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span jhiTranslate="padelTmApp.team.tournaments">Tournaments</span></dt>
          <dd>
            @for (tournaments of team()!.tournaments; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/tournament', tournaments.id, 'view']">{{ tournaments?.tournamentName }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/team', team()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
