<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (team()) {
      <div>
        <h2 data-cy="teamDetailsHeading"><span jhiTranslate="padelTmApp.team.detail.title">Team</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ team()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="padelTmApp.team.teamName">Team Name</span></dt>
          <dd>
            <span>{{ team()!.teamName }}</span>
          </dd>
          <dt><span jhiTranslate="padelTmApp.team.level">Level</span></dt>
          <dd>
            <span [jhiTranslate]="'padelTmApp.LevelEnum.' + (team()!.level ?? 'null')">{{
              {
                null: '',
                L0: '0 - Iniciación',
                L05: '0.5 - Iniciación',
                L1: '1 - Iniciación',
                L15: '1.5 - Iniciación Intermedio',
                L2: '2 - Iniciación Intermedio',
                L25: '2.5 - Intermedio',
                L3: '3 - Intermedio',
                L35: '3.5 - Intermedio',
                L4: '4 - Intermedio Alto',
                L45: '4.5 - Intermedio Alto',
                L5: '5 - Alto Avanzado',
                L55: '5.5 - Avanzado',
                L6: '6 - Avanzado',
                L7: '7 - Élite'
              }[team()!.level ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="padelTmApp.team.category">Category</span></dt>
          <dd>
            <span [jhiTranslate]="'padelTmApp.CategoryEnum.' + (team()!.category ?? 'null')">{{
              { null: '', F: 'Femenino', M: 'Masculino', MIX: 'Mixto' }[team()!.category ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="padelTmApp.team.player">Player</span></dt>
          <dd>
            @for (player of team()!.players; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/player', player.id, 'view']">{{ player?.firstName }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span jhiTranslate="padelTmApp.team.tournaments">Tournaments</span></dt>
          <dd>
            @for (tournaments of team()!.tournaments; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/tournament', tournaments.id, 'view']">{{ tournaments?.tournamentName }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/team', team()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
