<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-team-heading" data-cy="TeamCreateUpdateHeading" jhiTranslate="padelTmApp.team.home.createOrEditLabel">
        Crear o editar Team
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="padelTmApp.team.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_teamName" jhiTranslate="padelTmApp.team.teamName">Team Name</label>
          <input type="text" class="form-control" name="teamName" id="field_teamName" data-cy="teamName" formControlName="teamName" />
          @if (editForm.get('teamName')!.invalid && (editForm.get('teamName')!.dirty || editForm.get('teamName')!.touched)) {
            <div></div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_logo" jhiTranslate="padelTmApp.team.logo">Logo</label>
          <div>
            @if (editForm.get('logo')!.value) {
              <img
                [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value"
                style="max-height: 100px"
                alt="team"
              />
            }
            @if (editForm.get('logo')!.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('logo', 'logoContentType', 'file_logo')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_logo"
              data-cy="logo"
              (change)="setFileData($event, 'logo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
          <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_level" jhiTranslate="padelTmApp.team.level">Level</label>
          <select class="form-control" id="field_level" data-cy="level" name="level" formControlName="level" [compareWith]="compareLevel">
            <option [ngValue]="null"></option>
            @for (levelOption of levelsSharedCollection; track $index) {
              <option [ngValue]="levelOption">{{ levelOption.levelName }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_category" jhiTranslate="padelTmApp.team.category">Category</label>
          <select
            class="form-control"
            id="field_category"
            data-cy="category"
            name="category"
            formControlName="category"
            [compareWith]="compareCategory"
          >
            <option [ngValue]="null"></option>
            @for (categoryOption of categoriesSharedCollection; track $index) {
              <option [ngValue]="categoryOption">{{ categoryOption.categoryName }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_players" jhiTranslate="padelTmApp.team.players">Players</label>
          <select
            class="form-control"
            id="field_players"
            data-cy="players"
            multiple
            name="players"
            formControlName="players"
            [compareWith]="comparePlayer"
          >
            @for (playerOption of playersSharedCollection; track $index) {
              <option [ngValue]="playerOption">{{ playerOption.firstName }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['players'])!.invalid && (editForm.get(['players'])!.dirty || editForm.get(['players'])!.touched)) {
          <div>
            @if (editForm.get(['players'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
