@if (account() !== null) {
  <nav class="bg-light sidebar" aria-labelledby="Navigation Menu">
    <div class="navbar navbar-expand-sm navbar-light bg-light d-md-block">
      <a class="navbar-brand" href="#">Menu</a>
      <a
        class="navbar-toggler d-md-none"
        href="javascript:void(0);"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleNavbar()"
      >
        <fa-icon icon="bars"></fa-icon>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
}
