<div class="row">
  @if (account() === null) {
    <div class="video-container">
      <!-- YouTube Video Background -->
      <iframe
        src="https://www.youtube.com/embed/CX7pl3RGtgc?controls=0&start=4&autoplay=1&loop=1&mute=1&playlist=CX7pl3RGtgc"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <!-- Overlay Content -->
      <div class="content-overlay">
        <h1 class="brand-font">Torneos de Pádel</h1>
        <h4 class="mb-4">Registrarte es grátis</h4>
        <a routerLink="/account/register" class="btn btn-primary">Register Now</a>
      </div>
    </div>

    <div>
      <jhi-tournament></jhi-tournament>
    </div>
  } @else {
    <div>
      <jhi-tournament></jhi-tournament>
    </div>
  }
</div>
