<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (registerTeam()) {
      <div>
        <h2 data-cy="registerTeamDetailsHeading"><span jhiTranslate="padelTmApp.registerTeam.detail.title">Register Team</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ registerTeam()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="padelTmApp.registerTeam.registerDate">Register Date</span></dt>
          <dd>
            <span>{{ registerTeam()!.registerDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="padelTmApp.registerTeam.team">Team</span></dt>
          <dd>
            @if (registerTeam()!.team) {
              <div>
                <a [routerLink]="['/team', registerTeam()!.team?.id, 'view']">{{ registerTeam()!.team?.teamName }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="padelTmApp.registerTeam.tournaments">Tournaments</span></dt>
          <dd>
            @for (tournaments of registerTeam()!.tournaments; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/tournament', tournaments.id, 'view']">{{ tournaments?.tournamentName }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/register-team', registerTeam()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
