<div>
  <h2 id="page-heading" data-cy="SponsorHeading">
    <span jhiTranslate="padelTmApp.sponsor.home.title">Sponsors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="padelTmApp.sponsor.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sponsor"
        [routerLink]="['/sponsor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="padelTmApp.sponsor.home.createLabel">Crear nuevo Sponsor</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (sponsors?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="padelTmApp.sponsor.home.notFound">Ningún Sponsors encontrado</span>
    </div>
  }

  @if (sponsors && sponsors.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sponsorName">
              <div class="d-flex">
                <span jhiTranslate="padelTmApp.sponsor.sponsorName">Sponsor Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="padelTmApp.sponsor.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="logo">
              <div class="d-flex">
                <span jhiTranslate="padelTmApp.sponsor.logo">Logo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tournaments.tournamentName">
              <div class="d-flex">
                <span jhiTranslate="padelTmApp.sponsor.tournaments">Tournaments</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sponsor of sponsors; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/sponsor', sponsor.id, 'view']">{{ sponsor.id }}</a>
              </td>
              <td>{{ sponsor.sponsorName }}</td>
              <td>{{ sponsor.description }}</td>
              <td>
                @if (sponsor.logo) {
                  <a (click)="openFile(sponsor.logo, sponsor.logoContentType)">
                    <img [src]="'data:' + sponsor.logoContentType + ';base64,' + sponsor.logo" style="max-height: 30px" alt="sponsor" />
                  </a>
                  <span>{{ sponsor.logoContentType }}, {{ byteSize(sponsor.logo) }}</span>
                }
              </td>
              <td>
                @for (tournaments of sponsor.tournaments; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/tournament', tournaments.id, 'view']">{{
                      tournaments.tournamentName
                    }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/sponsor', sponsor.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/sponsor', sponsor.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(sponsor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
